
body{
    font-weight: 400;
    font-family: 'Lato','Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin:0;
}

header{
    background-color:#5a4747;
}

main, footer{
    margin: 40px;
    text-align: center;
}

h1{
    font-size: 50px;
    color: #303030;
    padding: 30px;
    color: white;
    text-align: center;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

nav li a{
    padding: 10;
    color: white;
    text-decoration: none;

}

footer{
    background-color: #cfcfcf;
    margin: 0;
}


table{
    width: 100%;
    text-align: center;
    margin: 0;
}

table td{
    color: #303030;
    padding: 5px;
}

table tr:nth-child(odd){
    background-color: #cbcacabd;
    color: white;
}
table tr:nth-child(even){
    background-color: #b4b4b4bd;
    color: white;
}
table thead tr th{
    background-color: #4c4242;
    color: white;
}
